.container
{
    overflow: auto;
    background-color: gray;
    clear: both;
}

.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.linkMenuBar {
    float: left;
}

.menuItem:link, .menuItem:visited
{
    display : block;
    background-color: gray;
    color: ghostwhite;
    font-size: 18;
    text-decoration: none;
    text-align: center;
    text-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.menuItem:hover, .menuItem:active{
    background-color: darkgrey;
}

.goldBarHead{
    width: 100%;
    background-color: orange;
    height: 7px;
}