.img-with-text
{
    float: left;
    margin-right: 5em;
    text-align: center;
}

.img-with-text img{
    height: 148px;
    width: 148px;
}
.gluten-img-with-text-container
{
    padding-left: 10%;
    padding-top: 20px;
    align-content: center;
    text-align: center;
    width: 100%;
}

.main-content{
    background-color: beige ;
    padding-top: 50px;
    padding-bottom: 50px;
    clear: both;
}

.main-content-about{
    background-color: beige ;
    padding-bottom: 50px;
    clear: both;
    overflow: auto;
}

.clear { clear:both;}

.maincontentabout
{
    position: inherit;
    width: 100%;
    overflow: hidden;
    background-color: deeppink;
}
.testimonial-author
{
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 30px;
}

.testimonial-header
{
    text-align: center;
    color: red;
}

.header {
    clear: both;
    position: relative;
}