body {
    background-color:beige;
    margin: 0px;
}

.img-with-text
{
    float: left;
    margin-right: 5em;
    text-align: center;
}

.img-with-text img{
    height: 148px;
    width: 148px;
}
.gluten-img-with-text-container
{
    padding-left:15%;
    padding-top: 20px;
    width: 100%;
    clear: both;
    display: block;
    overflow: hidden;
}

.main-content{
    background-color: beige ;
    overflow: auto;
    padding-bottom: 50px;
    clear: both;
}

.clear { clear:both;}

.maincontentabout
{
    position: inherit;
    width: 100%;
    overflow: hidden;
}
.testimonial-author
{
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 30px;
}

.testimonial-header
{
    text-align: center;
    color: #ED8032;
}

.header {
    clear: both;
    position: relative;
}

.contact-head {
    text-align: center;
    color: #ED8032;
    background-color: beige
}